<div class="row">
	<div class="small-12 columns">
		<img src="{{this.cover.source}}" alt="{{this.name}}" title="{{this.name}}" style="clip:rect({{this.cover.offset_x}}% {{this.cover.offset_x}}% {{this.cover.offset_y}}% {{this.cover.offset_y}}%);">
		<p>{{{enhance this.description}}}</p>
	</div>
</div>
