
<div class="row">
	<div class="small-12 columns">
		<h2>Members</h2>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<dl class="tabs vertical" data-tab data-options="deep_linking:true">
            <dd><a href="#wisp-crew-info"><i class="fa fa-2x fa-users"> </i></a></dd>
			{{#each members}}
				<dd><a href="#wisp-crew-{{firstName}}-{{lastName}}">{{firstName}} {{lastName}}</a></dd>
			{{/each}}
		</dl>
		<div class="tabs-content vertical">
            <div class="content active" id="wisp-crew-info">
				<div class="panel">
                    <p>
                   		<h3><i class="fa fa-info-circle"></i> Universe</h3>
						<p>The Wisp Universe consists of a diversity of artists, technicians & helping hands</p>
                    </p>
				</div>
			</div>
			{{#each members}}
				<div class="content" id="wisp-crew-{{firstName}}-{{lastName}}">
					<div class="member-flip no-init">
						<div class="front">
							<div class="wisp-member">
								<section class="about">
									{{#if image}}
                                        <div class="member-image">{{{image image image "100,100,100"}}}</div>
									{{/if}}
									<h4><i class="fa fa-user"></i> {{firstName}}{{lastName}}<br/><small>{{status}}</small></h4>

									{{#markdown}}{{description}}{{/markdown}}
								</section>
								<section class="connect">
									<div class="connect-box">
										<ul class="connect-icons">
											{{#if homepage}}
												<li>
											<span data-tooltip aria-haspopup="true" data-options="show_on:large" title="{{homepage}}">
												<a href="{{homepage}}" class="homepage"><i class="fa fa-globe"></i></a><span class="text-homepage">WWW</span>
											</span>
												</li>
											{{/if}}
											{{#if twitter}}
												<li><a href="{{twitter}}" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a><span class="text-twitter">Twitter</span></li>
											{{/if}}
											{{#if email}}
												<li>
													<span data-tooltip aria-haspopup="true" data-options="show_on:large" title="Open contact form">
														<a  href="#" class="mail trigger-flip"><i class="fa fa-2x fa-envelope"></i></a><span class="text-mail">E-Mail</span>
													</span>
												</li>
											{{/if}}
											{{#if skype}}
												<li><a href="{{skype}}" class="skype"><i class="fa fa-skype"></i></a><span class="text-skype">Skype</span></li>
											{{/if}}
											{{#if facebook}}
												<li><a href="{{facebook}}" class="facebook"><i class="fa fa-facebook"></i></a><span class="text-facebook">Facebook</span></li>
											{{/if}}
											{{#if soundcloud}}
												<li><a href="{{soundcloud}}" class="soundcloud"><i class="fa fa-soundcloud"></i></a><span class="text-soundcloud">Soundcloud</span></li>
											{{/if}}
										</ul>
									</div>
								</section>
							</div>
						</div>
						<div class="back panel">
							<span class="clearfix"><button class="button secondary right tiny trigger-flip"><i class="fa fa-2x fa-close"></i></button></span>
                            <form class="contact-form" data-abide="ajax" action="{{mailformAdress}}" method="post">
                                <input type="hidden" name="id" value="{{id}}"/>
								<h3>your Message to {{firstName}}</h3>
								<div class="name-field">
									<label>Your name <small>required</small>
										<input type="text" name="name" required pattern="[a-zA-Z]+">
									</label>
									<small class="error">Please tell {{firstName}} your Name :-)</small>
								</div>
								<div class="email-field">
									<label>Email <small>required</small>
										<input type="email" name="email" required>
									</label>
									<small class="error">An email address is required.</small>
								</div>
								<div class="message-field">
									<label>Textarea Label
										<textarea name="message" rows="10" placeholder="Your message to {{firstName}}"></textarea>
									</label>
								</div>
								<button type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>
